.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  flex-direction: column;
}

.formStyle {
  padding: 20px;
  border: 1px solid black;
  width: 25%;
  text-align: center;
}

.form-control {
  border-color: black !important;
}

.uploaded {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
.output-div {
  display: flex;
  justify-content: space-evenly;
}
.inner-div {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.inner-left {
  width: 20vw;
  margin-bottom: 20px;
}

.inner-right {
  width: 65vw;
}


.pdf-div {
  padding: 50px;
  background-color: #dedede;
  margin-top: 50px;
}
canvas.react-pdf__Page__canvas {
  margin-bottom: 50px;
}
